* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
   font-size: 30px;
    font-weight: 700;
}

.outer-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    position: relative;

}

.fruitbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.fruitbox div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.count-button {
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.primary-btn {
    padding: 10px 20px;
    width: 500px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}